html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.heading {
    border: 2px solid darkgray;
}

header {
    font-size: 1.1rem;
    padding-left: 20px;
    padding-left: 20px;
    margin: 10px;
    border: 4px solid rgb(79, 8, 146);
    
}

nav {
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    background-color: rgb(145, 142, 170);
}

a, a:visited, a:hover {
    text-decoration: none;
}
.nav_ul {
    padding: 10px 5px 20px 5px;
    margin: 0;
}
.nav_li {
    list-style: none;
    margin-right: 20px;
    float: right;
}


article {
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border:2px solid rgb(79, 8, 146);
    font-size:.874rem;
}

.about_fill {
    background-color: rgb(145, 142, 170);
}
h2 {
    font-size: 1rem;
}
p {
    font-size: .875rem;
    line-height: 1.3rem;
}

.post_info {
    line-height: .8rem;
    font-size: .5rem;
}