html {
    font-size: 100%;
    box-sizing: border-box;
}

header {
    font-size: 2em;
}

nav {
    font-size: 1rem;
}

a, a:visited, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    display: inline-flex;
}

body {
    margin: 0px;
    padding: 10px;
    line-height: 1.3;
}